<ion-header>
  <ion-img style="margin-bottom: 10px; margin-top: 5px;"
      src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" alt="logo">
  </ion-img>
</ion-header>
<ion-content class="ion-padding">
  <ion-button routerLink="/login" color="light">
      <ion-icon name="arrow-undo-circle-outline"></ion-icon>
  </ion-button>
  <ion-card>
      <ion-card-header>
       Ingresar Vehiculo
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-textarea label="Marca Vehiculo:" placeholder="Ejemplo: i20"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-textarea label="Patente:" placeholder="Ejemplo: 3435546"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-textarea label="Colo auto:" placeholder="Ejemplo: Azul"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <ion-item>
        <ion-button routerLink="/destino" slot="end" size="small"> Siguiente </ion-button>
      </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-title style="font-family: 'Times New Roman', Times, serif;"> Derechos reservados </ion-title>
  </ion-toolbar>
</ion-footer>