<ion-header>
  <ion-img style="margin-bottom: 10px; margin-top: 5px;"
      src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" alt="logo">
  </ion-img>
</ion-header>
<ion-content class="ion-padding">
  <ion-button routerLink="/home" color="light">
      <ion-icon name="arrow-undo-circle-outline"></ion-icon>
  </ion-button>
  <ion-card>
      <ion-card-header>
          <ion-card-title style="font-family: 'Times New Roman', Times, serif;">¡BIENVENIDO! <ion-label
                  color="warning">Duoc</ion-label><ion-label color="primary">UC</ion-label></ion-card-title>

      </ion-card-header>
      <ion-card-content>
          <ion-list>
              <ion-item>
                  <ion-label>Movilización propia</ion-label><ion-button routerLink="/generar" fill="outline">Crear Vieaje
                  </ion-button>
              </ion-item>
              <ion-item>
                  <ion-label>Buscar vehiculo</ion-label><ion-button routerLink="/maps" fill="outline">Crear Vieaje
                  </ion-button>
              </ion-item>
          </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-title style="font-family: 'Times New Roman', Times, serif;"> Derechos reservados </ion-title>
  </ion-toolbar>
</ion-footer>